h2{
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: semi-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: #007BFF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

p{
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  font-family: 'Georgia', serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  width: 80%;
  margin: 1.5rem auto;
  padding: 10px;
}


.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #007BFF;
  transition: color 0.3s ease;


}

.nav li{
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav li:hover{
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}