h2{
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: semi-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: #007BFF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
